# Root gitignore
node_modules
dist
.env
*.log
.DS_Store
coverage
.turbo

# Backend
BACKEND/node_modules
BACKEND/dist
BACKEND/.env

# Frontend
frontend/node_modules
frontend/dist
frontend/.next
frontend/.env.local
